{% load static %}
{#{% load cloudinary %}#}
<!DOCTYPE html>
<html lang="ar" dir="rtl">
	<head>

        <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="منصة خدمات الحج والعمرة والزيارة عبارة عن بوابة إلكترونية توفر أكبر قاعدة بيانات لخدمات شركات الحج والعمرة والزيارة حيث يتم تنظيم معلوماتها في فئات رئيسية" />
        <meta name="keywords" content="My, list, of, keywords" />
        <title>شاذروان - أكبر تجمع خدمات في منظومة الحج والعمرة والزيارة</title>

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.rtl.min.css" integrity="sha384-gXt9imSW0VcJVHezoNQsP+TNrjYXoGcrqBZJpry9zJt8PCQjobwmhMGaDHTASo9N" crossorigin="anonymous">

        <!-- All Plugins Css -->
        <link rel="stylesheet" type="text/css" href="{% static 'assets/css/plugins.css' %}">



        <!-- Custom CSS -->
        <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet">

		<!-- Custom Color Option -->
		<link href="{% static 'assets/css/colors.css' %}" rel="stylesheet">

    </head>

    <body class="red-skin">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div id="preloader"><div class="preloader"><span></span><span></span></div></div>

{% include 'includes/topbar.html' %}


{% block content %}

{% endblock %}
{% include 'includes/footer.html' %}


<script src="{% static 'assets/js/jquery.min.js' %}"></script>
		<script src="{% static 'assets/js/popper.min.js' %}"></script>
		<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'assets/js/rangeslider.js' %}"></script>
		<script src="{% static 'assets/js/select2.min.js' %}"></script>
		<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
		<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
		<script src="{% static 'assets/js/slick.js' %}"></script>
		<script src="{% static 'assets/js/slider-bg.js' %}"></script>
		<script src="{% static 'assets/js/lightbox.js' %}"></script>
		<script src="{% static 'assets/js/imagesloaded.js' %}"></script>
		<script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
		<script src="{% static 'assets/js/counterup.min.js' %}"></script>

		<script src="{% static 'assets/js/custom.js' %}"></script>
		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->

	</body>
</html>